<template>
    <div>
        <Friend
            v-for="profile in friendProfiles"
            :key="profile.id"
            :profile="profile"
        />
    </div>
</template>

<script>
import Friend from '../components/Friend.vue'

export default {
    components: {
        Friend
    },
    data() {
        return {
            friendProfiles: []
        }
    },
    async created() {
        this.friendProfiles = await this.$api.getProfiles()
    }
}
</script>
