<template>
  <form class="form" @submit.prevent="login">
    <div class="item">
        <label>Логин</label>
        <input type="text" class="login" v-model="username">
    </div>

    <div class="item">
        <label>Пароль</label>
        <input type="text" class="password" v-model="password">
    </div>
    
    <button class="login" type="submit">Войти</button>
</form>
</template>

<script>
export default {
  data() {
    return {
      username: 'test@mail.ru',
      password: '12345678'
    }
  },
  methods: {
    async login() {
      await this.$api.login(this.username, this.password)
      await this.$store.dispatch('fetchCurrentUser')
      this.$router.push({ name: 'Main' })
    }
  }
}
</script>

<style scoped>
.form {
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
}
button.login {
    background-color: #777;
    border: none;
    border-radius:2px;
    padding: 5px;
    color: white;
    cursor: pointer;
}
button.login:active {
    background-color: #333;
}
</style>
