<template>
    <div v-if="profile">
        <div class="main">
            <div class="photo" :style="photoStyle"></div>
            <div class="info">
                <h1>{{ profile.fullname }} <router-link v-if="isCurrentUser" :to="{ name: 'ProfileEditor' }">(Редактировать)</router-link></h1>
                <a :href="profile.website" target="_blank">Личный сайт</a>
                <h3>Обо мне</h3>
                <p>
                    {{ profile.info }}
                </p>
                <h3>Мои скилы</h3>
                <ul>
                    <li v-for="skill, i in profile.skills" :key="i">
                        {{ skill }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="description">
            <h3>Резюме</h3>
            <div>{{ profile.description }}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        id: Number
    },
    data() {
        return {
            profile: null
        }
    },
    computed: {
        photoStyle() {
            if (this.profile) {
                return `background-image: url(${this.$api.completeUrl(this.profile.photo.url)});`
            }
            return ''
        },
        isCurrentUser() {
            return this.$store.state.user.profile.id === this.id
        }
    },
    async created() {
        this.profile = await this.$api.getProfile(this.id)
    }
}
</script>

<style scoped>
.main {
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.photo {
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.info {
    width: 50%;
}
</style>