<template>
    <div v-if="profile">
        <div class="main">
            <form ref="fileForm" style="display: none;">
                <input ref="fileInput" type="file" name="files" @change="photoChanged">
            </form>
            <div class="photo" :style="photoStyle" @click="clickPhoto"></div>
            <div class="info">
                <button :disabled="noChanges" @click="save">Сохранить</button>
                <h1><input class="editor" placeholder="ФИО" v-model="profile.fullname" /></h1>
                Личный сайт: <input class="editor" placeholder="URL" v-model="profile.website" />
                <h3>Обо мне</h3>
                <p>
                    <input class="editor" placeholder="Расскажите о себе" v-model="profile.info" />
                </p>
                <h3>Мои скилы</h3>
                <ul>
                    <li v-for="skill,i in profile.skills" :key="i">
                        <input class="editor" v-model="profile.skills[i]" /><span style="cursor: pointer;" @click="removeSkill(i)">X</span>
                    </li>
                    
                    <li>
                        <a href="#" @click.prevent="addSkill">добавить</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="description">
            <h3>Резюме</h3>
            <div>
            <textarea class="editor" v-model="profile.description"></textarea>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            profile: null,
            initHash: '',
            newProfilePhoto: null,
            formData: null
        }
    },
    computed: {
        photoStyle() {
            if (this.newProfilePhoto) {
                return `background-image: url(${this.newProfilePhoto});`
            }
            if (this.profile) {
                return `background-image: url(${this.$api.completeUrl(this.profile.photo.url)});`
            }
            return ''
        },
        noChanges() {
            return this.hash === this.initHash
        },
        hash() {
            return JSON.stringify(this.profile)
        }
    },
    async created() {
        this.profile = await this.$api.getProfile(this.$store.state.user.profile.id)
        this.initHash = JSON.stringify(this.profile)
    },
    methods: {
        addSkill() {
            this.profile.skills.push('')
        },
        removeSkill(index) {
            this.profile.skills.splice(index, 1)
        },
        async clickPhoto() {
            this.$refs.fileInput.click()
        },
        async photoChanged() {
            this.formData = new FormData(this.$refs.fileForm)
            const reader = new FileReader()

            reader.onload = e => {
                this.newProfilePhoto = e.target.result
                this.profile.photo = null
            }

            reader.readAsDataURL(this.$refs.fileInput.files[0])
            
        },
        async save() {
            if (this.newProfilePhoto) {
                const files = await this.$api.upload(this.formData)
                if (files.length > 0) {
                    this.profile.photo = files[0]
                }
            }
            await this.$api.saveProfile(this.profile)
            this.$router.back()
        }
    }
}
</script>

<style scoped>
.main {
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.photo {
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.info {
    width: 50%;
}

input.editor {

}
li {
    margin-bottom: 5px;
}
textarea.editor {
    width: 100%;
}
</style>