<div>
    <div class="nav">
        <div class="nav-container">
            <div class="nav-links">
                <a href="#" class="item">
                    <span>Моя страница</span>
                </a>
                <a href="#" class="item">
                    <span>Друзья</span>
                </a>
            </div>

            <div class="nav-links">
                <div class="item user">
                    <div class="user-photo" style="background-image: url('https://www.iguides.ru/upload/medialibrary/9f8/9f8fdff471b7d281f81f694c100b5adc.png');"></div>
                    <span class="user-name">Имя фамилия</span>
                </div>
                <a href="#" class="item">
                    <span>Выход</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main">
            <div class="photo" style="background-image: url('https://www.iguides.ru/upload/medialibrary/9f8/9f8fdff471b7d281f81f694c100b5adc.png');"></div>
            <div class="info">
                <button>Сохранить</button>
                <h1><input class="editor" placeholder="ФИО"/></h1>
                Личный сайт: <input class="editor" placeholder="URL" />
                <h3>Обо мне</h3>
                <p>
                    <input class="editor" placeholder="Расскажите о себе" />
                </p>
                <h3>Мои скилы</h3>
                <ul>
                    <li>
                        <input class="editor" />
                    </li>
                    <li>
                        <input class="editor" />
                    </li>
                    <li>
                        <a href="#">добавить</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="description">
            <h3>Резюме</h3>
            <div>
            <textarea class="editor"></textarea>
            </div>
        </div>
    </div>
</div>

<style>
    :root {
        --nav-color: #333;
        --nav-item-color: white;
        --nav-item-color-hov: #ddd;
        --main-bg-color: white;
        --font-color: #333;
    }
    body {
        background-color: var(--main-bg-color);
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: var(--font-color);
    }
    .nav {
        background-color: var(--nav-color);
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0;
    }
    .nav-container {
        display: flex;
        width: 1000px;
        margin: auto;
        justify-content: space-between;
        height: 100%;
    }
    .nav-links {
        display: flex;
        height: 100%;
    }
    .nav-links .item {
        display: block;
        height: 100%;
        color: var(--nav-item-color);
        text-decoration: none;
    }
    .nav-links .item span {
        padding: 15px;
        display: block;
    }
    .nav a.item:visited {
        color: var(--nav-item-color);
    }
    .nav a.item:hover {
        color: var(--nav-item-color-hov);
    }
    .nav .item.user {
        display: flex;
    }
    .user-photo {
        margin-top: 10px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
    .container {
        width: 1000px;
        margin: auto;
        margin-top: 60px;
    }
    .container a {
        text-decoration: none;
    }


    .main {
        height: 500px;
        display: flex;
        justify-content: space-between;
    }
    .photo {
        width: 400px;
        height: 400px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
    .info {
        width: 50%;
    }

    input.editor {

    }
    li {
        margin-bottom: 5px;
    }
    textarea.editor {
        width: 100%;
    }
</style>
