<div>
    <div class="nav">
        <div class="nav-container">
            <div class="nav-links">
                <a href="#" class="item">
                    <span>Моя страница</span>
                </a>
                <a href="#" class="item">
                    <span>Друзья</span>
                </a>
            </div>

            <div class="nav-links">
                <div class="item user">
                    <div class="user-photo" style="background-image: url('https://www.iguides.ru/upload/medialibrary/9f8/9f8fdff471b7d281f81f694c100b5adc.png');"></div>
                    <span class="user-name">Имя фамилия</span>
                </div>
                <a href="#" class="item">
                    <span>Выход</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main">
            <div class="photo" style="background-image: url('https://www.iguides.ru/upload/medialibrary/9f8/9f8fdff471b7d281f81f694c100b5adc.png');"></div>
            <div class="info">
                <h1>Имя фамилия</h1>
                <a href="#" target="_blank">Личный сайт</a>
                <h3>Обо мне</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer metus dolor, laoreet id scelerisque ac, aliquet vel est. In efficitur venenatis orci. Nunc elit massa, vehicula a gravida ac, molestie et quam. Aenean rhoncus quam in rhoncus condimentum. Nulla scelerisque nulla interdum, auctor turpis sit amet, elementum odio. Nulla mi orci, sagittis a ante sit amet, semper ullamcorper nunc. Mauris mollis tincidunt nunc id aliquam. Nulla sagittis massa ut neque elementum, vel posuere nunc suscipit. Duis at libero aliquet, finibus arcu sit amet, faucibus ex. Nullam quis sapien efficitur, varius diam non, sollicitudin urna. Praesent pretium id nunc vitae blandit. Duis id elit euismod, dignissim nisi id, porta metus. Donec venenatis erat vel convallis aliquet. Suspendisse vel arcu eu diam lacinia convallis.
                </p>
                <h3>Мои скилы</h3>
                <ul>
                    <li>
                        первый
                    </li>
                    <li>
                        второй
                    </li>
                </ul>
            </div>
        </div>
        <div class="description">
            <h3>Резюме</h3>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer metus dolor, laoreet id scelerisque ac, aliquet vel est. In efficitur venenatis orci. Nunc elit massa, vehicula a gravida ac, molestie et quam. Aenean rhoncus quam in rhoncus condimentum. Nulla scelerisque nulla interdum, auctor turpis sit amet, elementum odio. Nulla mi orci, sagittis a ante sit amet, semper ullamcorper nunc. Mauris mollis tincidunt nunc id aliquam. Nulla sagittis massa ut neque elementum, vel posuere nunc suscipit. Duis at libero aliquet, finibus arcu sit amet, faucibus ex. Nullam quis sapien efficitur, varius diam non, sollicitudin urna. Praesent pretium id nunc vitae blandit. Duis id elit euismod, dignissim nisi id, porta metus. Donec venenatis erat vel convallis aliquet. Suspendisse vel arcu eu diam lacinia convallis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer metus dolor, laoreet id scelerisque ac, aliquet vel est. In efficitur venenatis orci. Nunc elit massa, vehicula a gravida ac, molestie et quam. Aenean rhoncus quam in rhoncus condimentum. Nulla scelerisque nulla interdum, auctor turpis sit amet, elementum odio. Nulla mi orci, sagittis a ante sit amet, semper ullamcorper nunc. Mauris mollis tincidunt nunc id aliquam. Nulla sagittis massa ut neque elementum, vel posuere nunc suscipit. Duis at libero aliquet, finibus arcu sit amet, faucibus ex. Nullam quis sapien efficitur, varius diam non, sollicitudin urna. Praesent pretium id nunc vitae blandit. Duis id elit euismod, dignissim nisi id, porta metus. Donec venenatis erat vel convallis aliquet. Suspendisse vel arcu eu diam lacinia convallis.
            </div>
        </div>
    </div>
</div>

<style>
    :root {
        --nav-color: #333;
        --nav-item-color: white;
        --nav-item-color-hov: #ddd;
        --main-bg-color: white;
        --font-color: #333;
    }
    body {
        background-color: var(--main-bg-color);
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: var(--font-color);
    }
    .nav {
        background-color: var(--nav-color);
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0;
    }
    .nav-container {
        display: flex;
        width: 1000px;
        margin: auto;
        justify-content: space-between;
        height: 100%;
    }
    .nav-links {
        display: flex;
        height: 100%;
    }
    .nav-links .item {
        display: block;
        height: 100%;
        color: var(--nav-item-color);
        text-decoration: none;
    }
    .nav-links .item span {
        padding: 15px;
        display: block;
    }
    .nav a.item:visited {
        color: var(--nav-item-color);
    }
    .nav a.item:hover {
        color: var(--nav-item-color-hov);
    }
    .nav .item.user {
        display: flex;
        flex-direction: row;
    }
    .user-photo {
        margin-top: 10px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
    .container {
        width: 1000px;
        margin: auto;
        margin-top: 60px;
    }
    .container a {
        text-decoration: none;
    }


    .main {
        height: 500px;
        display: flex;
        justify-content: space-between;
    }
    .photo {
        width: 400px;
        height: 400px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
    .info {
        width: 50%;
    }
</style>