<template>
    <div class="friend" @click="$router.push({ name: 'Profile', params: { id: profile.id } })">
        <div class="main">
            <div class="photo" :style="photoStyle"></div>
            <div>
                <h3 class="name">{{ profile.fullname }}</h3>
                <a :href="profile.website">Личный сайт</a>
            </div>
        </div>
        <div class="description">{{ profile.info }} </div>
    </div>
</template>

<script>
export default {
    props: {
        profile: Object
    },
    computed: {
        photoStyle() {
            if (this.profile) {
                return `background-image: url(${this.$api.completeUrl(this.profile.photo.url)});`
            }
            return ''
        }
    }
}
</script>

<style>
    .friend {
        margin-bottom: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }
    .friend .main {
        display: flex;
        width: 30%;
    }
    .photo {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
    .description {
        padding-top: 15px;
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
